[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "CocoaAsyncSocket"]
	path = CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
